<h1 class="text1">Welcome! Testing</h1>

<div style="padding: 10px;">
  <div style="display: flex; margin: 10px;">
    <div cdkDropList
     [cdkDropListData]="carddata"
     (cdkDropListDropped)="drop($event)"
     [cdkDropListConnectedTo]="firstList"
     #otherList="cdkDropList">
      <div cdkDrag *ngFor="let cardata of carddata" class="item">
        <div class="card">
          <div id="container">
            <img src={{cardata.data}} class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{cardata.title}}</h5>
            <p class="card-text">{{cardata.para}}</p>
            <a href="#" class="btn btn-primary">{{cardata.button}}</a>
          </div>
        </div>
      </div>
    </div>
    
    <div cdkDropList
     [cdkDropListData]="carddatatwo"
     (cdkDropListDropped)="drop($event)" 
     [cdkDropListConnectedTo]="otherList"
     #firstList="cdkDropList">
      <div cdkDrag *ngFor="let cardata of carddatatwo" class="item">
        <div class="card">
          <div id="container">
            <img src={{cardata.data}} class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{cardata.title}}</h5>
            <p class="card-text">{{cardata.para}}</p>
            <a href="#" class="btn btn-primary">{{cardata.button}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>